<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row">'
                <div *ngFor="let product of products" class="col-md-3">
                    <div class="product-box">
                        <a routerLink="/products/{{product.id}}">
                            <img src="{{product.imageUrl}}" class="img-responsive">
                        </a>
                        <a routerLink="/products/{{product.id}}">
                        <h2><i>{{product.name}}</i></h2>
                        </a>
                        <div class="price">{{product.unitPrice|currency:"USD"}}</div>
                        <p class="card-text text-truncate">{{product.description}}</p>
                        <button class="btn btn-primary" (click)="addToCart(product)">Add to Cart</button>
                    </div>
                </div>
                <div *ngIf="products?.length==0">
                    <p style="color:darkred" align="center">No Books Found. Enter valid keywords inorder to search products and try again in order to effecticently use search functionality</p>
                </div>
            
            </div>

            <div class="footer-pagination" *ngIf="products?.length>0">
               
                <div class="row">

                    <!-- page size drop down selection -->
                    <div class="col-md-6">
              
                      <div class="row">
                        <div class="col-md-3">
                          <span style="color:aqua">Page Size: </span>
                        </div>
                        <div class="col-md-9">
                          <select (change)="updatePageSize($event.target.value)"
                                  class="form-control-sm">
                            <option>6</option>
                            <option>10</option>
                            <option>20</option>
                            <option>50</option>
                          </select>
                        </div>
                      </div>
                     
                    </div>
              
                    <!-- pagination component -->
                    <div class="col-md-6">
                      
                      <!-- client side paging -->
                      <!-- <jw-pagination [items]="books" (changePage)="onChangePage($event)"></jw-pagination> -->
              
                      <ngb-pagination [(page)]="thePageNumber"
                                      [pageSize]="itemsize" 
                                      [collectionSize]="theTotalElements"
                                      (pageChange)="listProducts()"
                                      class="d-flex justify-content-end">
                          <ng-template ngbPaginationFirst>First</ng-template>
                          <ng-template ngbPaginationLast>Last</ng-template> 
                          <ng-template ngbPaginationPrevious>Prev</ng-template>
                          <ng-template ngbPaginationNext>Next</ng-template> 
                                      
                      </ngb-pagination>
                    </div>
              
                  </div>
        </div>
    </div>
</div>